@model QuanLyBookStore.Models.NhanVien

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quequan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quequan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNV">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
