@model IEnumerable<QuanLyBookStore.Models.DonMua>

@{
    ViewData["Title"] = "Index";
}

<h1>Đơn mua</h1>

<p>
    <a asp-action="Create">Thêm đơn mua</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBuy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBuy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDM">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaDM">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDM">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
